* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Segoe UI", 'Microsoft Yahei', Helvetica, Arial;
}

.children-group {
    padding-left: 80px;
}

.group {
    padding: 10px;
}

.isDirectory {
    padding-left: 30px;
    position: relative;
}

.isDirectory::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABw0lEQVRYR+2XT1LCMBTGv5e4YCeMYS2cQNk4k27EE4gnUE8g3kBOIJxAuAGeQNzQJXgDXMMMuHOTPKdlwAL9w0wLbOiyTd73y5eXl1fCgR86sD6OAEcHVhyYuigZlq8MLhHRZZoEZeahIHRFzrYKFcyiYi0B5uJiAKJ8GuGNucwzSbZS0BiFxV0CTPqyC8JtpuKLYIx35ZhaAoAYgeh8JwAAlDahCf/vgCs5QvxRadPeFVgsAIO/itqmSsYk8FgAYn4+c2zTCzKJdihJY/ndOxkE21AOuouXsQBSmkrhCsOxiypBfmytlDSQzd0CIhqA+Vs5tuSvvi+aIHpKirv198CpiANoKcfWvaBjVwwJdLG1QMJABj6L2lS9YTEAc5umA+TNr5xmJT6Pwx2l7UMMAP8obf2KOHGlN/AtS4Bgckc4wCOlbXluv+wRcJ0lAMPcFDV68VsA9MCYgRBaQtMABaviNpUwjdbG3PXitneAYAImbUGmKw8EW7lb9u6AhCkHe4P9AgSqa8hdINoA3e/Kd7/8gBtFbV+CGqstGcQQoNNdQHjZf5Kz1fX+cLUp9cuu8K7fWrYg3JE5Ww9rTo//BUcH/gB04cghovhrMgAAAABJRU5ErkJggg==');
    background-size: cover;
}
